@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */

.header {
    width: 100%;
    height: 70px;
    background-color: #000000;
}

.container {
    max-width: 1330px;
    margin-left: 3%;
    margin-right: 3%;
}

.navbar {
    display: flex;
}

.logo img {
    width: 100px;
    height: 70px;
}

.menu {
    display: flex;
    position: absolute;
    top: 12px;
    right: 35px;
    align-items: center;
    font-size: large;
    font-family: 'Playfair Display', cursive;
}

.menu a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.menu a:hover:not(.active) {
    background-color:#fafafa;
    color: black;
}

.menu a.active {
    background-color: #fafafa;
    color: black;
}


/* body */
.body {
    width: 100%;
    height: auto;
}

.panel1 {
    width: 100%;
    height: 750px;
    display: inline-flex;
    background-color: #7cb4c3;
}

.content1 {
    height: 100%;
    width: 50%;
}

.content1 h1 {
    text-align: center;
    margin-top: 35%;
    color: whitesmoke;
}

.content1 p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.pic1 {
    height: 100%;
    width: 50%;
    background-image: url("./Pics/fms.png");
    background-position: center;
    background-repeat: no-repeat;
}

.panel2 {
    width: 100%;
    height: 750px;
    display: inline-flex;
    background-color: whitesmoke;
}

.content2 {
    height: 100%;
    width: 50%;
}

.content2 h1 {
    text-align: center;
    margin-top: 35%;
}

.content2 p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.pic2 {
    height: 100%;
    width: 50%;
    background-image: url("./Pics/1.2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}

.panel3 {
    width: 100%;
    height: 750px;
    display: inline-flex;
    background-color: #b5b5b5;
}

.content3 {
    height: 100%;
    width: 50%;
}

.content3 h1 {
    text-align: center;
    margin-top: 35%;
    color: white;
}

.content3 p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color:white;
}

.pic3 {
    height: 100%;
    width: 50%;
    background-image: url("./Pics/3.3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */
.footer {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: black;
    text-align: center;
    justify-content: space-around;
}

.footer div h1 {
    color: white;
}

.footer div p {
    color: white;
}